div.my-header {
    position: fixed;
    top: 2px;
    right: 5px;
    height: 30px;
    width: 100%;
    text-align: right;
}

div.my-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}

div.my-footer span {
    font-size: 14pt;
    position: absolute;
    left: 15px;
    bottom: 15px;
}
